# -----------------------------
# Python cache / build
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# -----------------------------
# Virtual environments
.venv/
venv/

# -----------------------------
# Environment variables
.env

# -----------------------------
# Database files (but keep .gitkeep)
database/*
!database/.gitkeep

# -----------------------------
# Dataset images (but keep .gitkeep)
dataset/*
!dataset/.gitkeep

# -----------------------------
# Face encodings (but keep .gitkeep)
encodings/*
!encodings/.gitkeep

# -----------------------------
# Streamlit, OS junk files
.streamlit/
.DS_Store
Thumbs.db

# -----------------------------
# Wheels folder (allow whl files to be tracked if you want)
wheels/*
!wheels/*.whl   # keep wheels (for dlib)
